body {
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: rgba(244,244,244, 0.9);
  color: #183A37;
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.button-list {
  display: flex;
  gap: 8px;
}
button {
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #183A37;
  border: 1px solid #adc1bf;
  cursor: pointer;
  transition: background-color 0.3s;

}
button.selected {
  color: white;
  background-color: #183A37;
  border: 1px solid #183A37;
}

.container {
  padding: 4px 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
}

.selector-container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 1rem; /* 선택 영역과 테이블 사이의 간격 */
  justify-content: space-between;
}

#day-selector {
  flex: 0 0 100px; /* 고정 크기 (150px) */
  flex-shrink: 1;
}

.table-container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-container {
  transform:
    translate3d(0, 100px, 0px)
    scale(1, 1);
  opacity: 0;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out opacity;
}

.table-container.loaded {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

#route-name {
  font-size: 14px;
  padding-bottom: 4px;
}

th, td {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

th {
  background-color: #183A37;
  color: white;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

td {
  border-bottom: 1px solid #ddd;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

select {
  -webkit-appearance: none;  /* 기본 화살표 숨기기 */
  -moz-appearance: none;
  color: #183A37;
  appearance: none;
  border: 1px solid #ccc;  /* 테두리 스타일 */
  padding: 10px 33px 10px 10px;
  font-size: 1rem;
  border-radius: 8px;  /* 둥근 모서리 */
  width: 100%;
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  cursor: pointer;
}

/* 선택 박스의 focus 상태 스타일 */
select:focus {
  outline: none;
  border-color: #183A37; /* 포커스 시 테두리 색상 */
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); /* 포커스 시 그림자 효과 */
}